python-dotenv
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
email-validator
anthropic
librosa==0.10.2
soundfile
numpy
scipy
scikit-learn
pandas
requests
sqlalchemy>=2.0
asyncpg
bcrypt
python-jose[cryptography]
resend
greenlet
boto3
